[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

Scrapy = "==2.6.3"
asyncpg = "==0.26.0"
scrapyd = "==1.3.0"
scrapyd-client = "==1.2.2"
pyOpenSSL = "==22.1.0"

[dev-packages]

[requires]
python_version = "3.9"
